.select-field, input{
    width: 50%;
}
.tab-pane{
width: 50%;
}
.modal-body p{
display: flex;
justify-content: space-between;
}
@media (min-width: 278px) and (max-width: 420px) {
    .tab-pane{
        width: 100%;
    }
}
